<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pethis.mapper.AppointMapper">

    <resultMap id="BaseResultMap" type="com.example.pethis.entity.Appoint">
            <id property="appointid" column="appointId" jdbcType="INTEGER"/>
            <result property="itemid" column="itemId" jdbcType="INTEGER"/>
            <result property="petid" column="petId" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="appointdate" column="appointDate" jdbcType="DATE"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="businesskey" column="businessKey" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        appointId,itemId,petId,
        status,appointDate,createtime,
        businessKey
    </sql>
</mapper>
