<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pethis.mapper.ItemMapper">

    <resultMap id="BaseResultMap" type="com.example.pethis.entity.Item">
            <id property="itemid" column="itemId" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="chargingmethod" column="chargingMethod" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        itemId,name,price,
        chargingMethod
    </sql>
</mapper>
