<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pethis.mapper.MedicalrecordMapper">

    <resultMap id="BaseResultMap" type="com.example.pethis.entity.Medicalrecord">
            <id property="medicalrecordid" column="medicalRecordId" jdbcType="INTEGER"/>
            <result property="petid" column="petId" jdbcType="INTEGER"/>
            <result property="emplyeeid" column="emplyeeId" jdbcType="INTEGER"/>
            <result property="medicalhistory" column="medicalHistory" jdbcType="VARCHAR"/>
            <result property="diagnose" column="diagnose" jdbcType="VARCHAR"/>
            <result property="visittime" column="visitTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        medicalRecordId,petId,emplyeeId,
        medicalHistory,diagnose,visitTime
    </sql>
</mapper>
