<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pethis.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.example.pethis.entity.Room">
            <id property="roomid" column="roomId" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="petid" column="petId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        roomId,status,petId
    </sql>
</mapper>
